/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "GraphikRegular";
  src: url("./assets/fonts/GraphikRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "GraphikSemiBold";
  src: url("./assets/fonts/GraphikSemibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "GraphikBold";
  src: url("./assets/fonts/GraphikBold.otf") format("opentype");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'GraphikRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(26, 26, 26);
  min-height: 100%;
  color: white;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
/* .react-player > video {
  position: absolute;
  object-fit: fill;
} */



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(59, 59, 59);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 43) ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}